<!DOCTYPE html>
<html>
<head>
    <title>Контакты</title>
    <meta charset="utf-8" />
</head>
<body>

    {{#if directoryContentVisible}}
        <h3>Содержимое директории</h3>
        <ul>
            {{#each directoryContent}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

    {{#if fileContentVisible}}
        <h3>Содержимое файла</h3>
        <ul>
            {{#each fileContent}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

</body>
<html>